<script type='text/javascript' src='{{DEPLOYMENT_URL}}'></script>
<script type='text/javascript'>
	liveagent.init('{{CHAT_URL}}', '{{CHAT_KEY_ONE}}', '{{CHAT_KEY_TWO}}');
</script>

<div class="jumbotron">
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Gap_logo.svg/150px-Gap_logo.svg.png" alt="HTML5 Icon" style="width:128px;height:128px;"> 
	<h2>Live Assistant</h2>
	<p>Dear Customer <p>
	<p>You can now chat online with a Customer Care Representative to get real-time answers to your questions.</p>
	<p>Please NOTE : Only When our agents are unavailable, the button below would show as “Offline".</p>
	<p>Few more clicks ahead and you're all set...<p> 
	</br>
<p>Thank you and Have a Great Day ahead !</p>
</div>
<div>
	<a id="liveagent_button_online_{{CHAT_KEY_BUTTON}}" href="javascript://Chat" style="display: none;" class="btn btn-primary" onclick="liveagent.startChat('{{CHAT_KEY_BUTTON}}')">Online</a>
	<a id="liveagent_button_offline_{{CHAT_KEY_BUTTON}}" style="display: none;" class="btn btn-default" disabled="disabled">Offline</div>
</div>

<script type="text/javascript">
	if (!window._laq) {
		window._laq = [];
	}

	window._laq.push(function () {
		liveagent.showWhenOnline('{{CHAT_KEY_BUTTON}}', document.getElementById('liveagent_button_online_{{CHAT_KEY_BUTTON}}'));
		liveagent.showWhenOffline('{{CHAT_KEY_BUTTON}}', document.getElementById('liveagent_button_offline_{{CHAT_KEY_BUTTON}}'));
	});
</script>
